.contact-container h2{
    font-size: 80px;
    font-weight: bolder;
}
.contact-container p{
    font-size: 18px;
    font-style: normal;
}
.contact-container{
    display: flex;
    flex-direction:column;
}