.overview-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 60px 0px 60px;
}

.overview-item {
    position: relative;
    filter: grayscale(100%);
    transition: filter 0.3s ease; 
    &:hover {
        filter: grayscale(0%);
        .overlay-text{
            color: white;
        }
    }
}

.overview-image {
    border-radius: 20px;
}
.overlay-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: transparent;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: filter 0.3s ease; 
}